.none {
    display: none;
}


@media screen and (max-width: 600px) {
    #carouselExampleDesktop {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

  
  @media screen and (min-width: 599px) {
    #carouselExampleCaptions {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

  .ortala {
    justify-content: space-evenly;
  }